.collection-main-container {
  position:relative;
}

.collection__image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.collection-buttons-wrapper .collection__next, .collection__prev {
  width: 60px;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  position: absolute;
  top: 40%;
  cursor: pointer;
  z-index:999;
}

.collection__next {
  transform: rotate(-90deg );
  right: -5%;
  padding: 20px;
}

.collection__prev {
  transform: rotate(90deg );
  left: -5%;
  padding: 20px;
}

.collection-link-title {
  text-align: center;
}

.collection__main-title {
  border-bottom: 1px solid #000;
  margin-bottom: 40px;
}

.collection__title-wrapper {
  width: 100%;
  display:flex;
  justify-content: center;
}

a {
  text-decoration: none;
}

@media screen and (max-width: 749px) {
  .collection-list-wrapper .collection__next, .collection__prev{
    display:block;
  }

  .collection__item {
    width: 180px;
    height: auto;
  }

  .collection-main-container {
    padding: 0px;
  }

  .collection__next {
    transform: rotate(-90deg );
    right: 0;
    padding: 20px;
  }
  
  .collection__prev {
    transform: rotate(90deg );
    left: 0;
    padding: 20px;
  }
  .custom-collection-list-section .page-width {
    padding: 0;
    margin: 40px 0;
    max-width: 100%;
  }
}

@media screen and (min-width: 750px) {

  .collection-list-wrapper .collection__next, .collection__prev{
    display:block;
  }

  .collection-all-button {
    margin-top: 30px;
  }

  .collection__image {
    transition-property: 10s transform ease;
  }
  
  .collection__image:hover {
    transform:translateY(-12px);
  }

  .collection__item {
    width:16.5vw;
    height: auto;
  }

  .custom-collection-list-section .page-width {
    padding: 0;
    margin: 40px 0;
    max-width: 100%;
  }
  
  .collection__list {
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 1400px) {
  .collection__item {
    width: 16vw;
    height: auto;
  }

  .collection-list-wrapper .collection__next, .collection__prev{
    display:none;
  }

  .collection__item {
    padding: 0 10px
  }

  .custom-collection-list-section .page-width-desktop {
    padding: 0 1rem;
  }
}